<!DOCTYPE html>
<html>
  <head>
    <title>Heat Diffusion Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <h1>Heat Diffusion Results</h1>
    <div id="plot"></div>
    <script>
      // Pass results from Flask to JavaScript
      const results = {{ results| tojson }};
      const timesteps = Object.keys(results);
      const traces = [];

      for (const t of timesteps) {
          traces.push({
              x: Array.from({ length: results[t].length }, (_, i) => i),
              y: results[t],
              mode: 'lines',
              name: `t = ${t}s`
          });
      }

      Plotly.newPlot('plot', traces, {
          title: 'Temperature Distribution at Selected Timesteps',
          xaxis: { title: 'Position' },
          yaxis: { title: 'Temperature' }
      });
    </script>
  </body>
</html>
